<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title th:text="${ticket.title}">Запит #228 - Додати неонове освітлення до вбиралень</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href ="/css/styles.css" rel="stylesheet">
</head>
<body>
<nav class="orange navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/mainPage">Запит</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class=" nav-item active ">
                <a class="nav-link" href="/addTicket">Додати заявку <span class="sr-only">(current)</span></a>
            </li>
            <li class=" nav-item active">
                <a class="nav-link" href="/userTickets">Мої заявки</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Пошук">
        </form>
    </div>
</nav>
<div class="container">
    <h2>#<span th:text="${ticket.id}"></span> - <span th:text="${ticket.title}"></span></h2>
    <p th:text="${ticket.text}">У туалетах Академії дуже сумно, особливо вночі, тому хотілося б зробити час, проведений у вбиральні трохи яскравішим</p>
    <ul>
        <li>Створив: <a href="#" th:text="${ticket.creator.name}">Lolkek Cheburek</a></li>
        <li>Призначено: <a href="#" th:text="${ticket.solver != null} ? ${ticket.solver.user.name} : 'В очікуванні'">Random Dude</a></li>
        <li th:if="${ticket.status} == 0">Стан: В очікуванні</li>
        <li th:if="${ticket.status} == 1">Стан: У роботі</li>
        <li th:if="${ticket.status} == 2">Стан: Відхилено</li>
        <li th:if="${ticket.status} == 3">Стан: Виконано</li>
    </ul>
    <div class="card" th:each="answer : ${answers}">
        <div class="card-header">
            <a href="#" th:text="${answer.user.name}">Lolkek Cheburek</a> у <span th:text="${answer.answeredAt}">13.10.2018, 22:05</span>
        </div>
        <div class="card-body">
            <ul>
                <li th:if="${answer.scId} != null">Запит призначено <span th:text="${answer.scId.user.name}"></span></li>
                <li th:if="${answer.status} == 0">Стан запиту змінено на <i>"В очікуванні"</i></li>
                <li th:if="${answer.status} == 1">Стан запиту змінено на <i>"У роботі"</i></li>
                <li th:if="${answer.status} == 2">Стан запиту змінено на <i>"Відхилено"</i></li>
                <li th:if="${answer.status} == 3">Стан запиту змінено на <i>"Виконано"</i></li>
            </ul>
            <p th:if="${answer.reply} != null" th:text="${answer.reply}">Створено запит "Додати неонове освітлення до вбиралень"</p>
        </div>
    </div>
    <hr>
    <h4>Прокоментувати або змінити запит</h4>
    <form id="answerForm" method="post">
        <input type="hidden" name="currSc" value="1" />
        <input type="hidden" name="currStatus" value="1" />
        <div class="form-row">
            <div class="form-group col-md-6" sec:authorize="hasRole('SC')">
                <label for="inputStatus">Статус:</label>
                <select id="inputStatus" name="status" class="form-control">
                    <option value="0">В очікуванні</option>
                    <option value="1" selected>У роботі</option>
                    <option value="2">Закрито</option>
                    <option value="3">Відхилено</option>
                </select>
            </div>
            <div class="form-group col-md-6" sec:authorize="hasRole('SC')">
                <label for="inputAssignee">Відповідальний:</label>
                <select id="inputAssignee" class="form-control" name="sc">
                    <option th:each="member : ${SCmembers}" th:value="${member.id}" th:selected="${ticket.solver == member}" th:text="${member.user.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group" sec:authorize="hasRole('USER')" th:if="${user != null && user.name == ticket.creator.name}">
            <label for="commentArea">Коментар:</label>
            <textarea class="form-control" id="commentArea" name="comment" rows="3"></textarea>
        </div>
        <button type="button" id="submitButton" class="btn btn-primary">Зберегти зміни</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
$("#inputStatus").change(function() {
    if (this.value == 2 || this.value == 3) {
        $("#inputAssignee").prop("disabled", true);
        $("#inputAssignee").val($("input[name=currSc]").val());
    } else {
        $("#inputAssignee").prop("disabled", false);
    }
});

$("#submitButton").click(function() {
    // Check if nothing changed
    if ($("#inputAssignee").val() == $("input[name=currSc]").val() && $("#inputStatus").val() == $("input[name=currStatus]").val() && $("#commentArea").val() == "") {
        // Nothing changed, dropping
        alert("Немає змін для збереження");
        return;
    }
    $("#answerForm").submit();
});


</script>
</body>
</html>