<html>
    <head>
        <meta charset="utf-8">
        <title>Ticket #228 - Add toilets neon lights</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>#228 - Add toilet neon lights</h1>
            <ul>
                <li>Created: <a href="#">Lolkek Cheburek</a></li>
                <li>Assignee: <a href="#">Random Dude</a></li>
                <li>Status: In progress</li>
            </ul>
            <div class="card">
                <div class="card-header">
                    Lolkek Cheburek - <span>13.10.2018</span>
                </div>
                <div class="card-body">
                    <p>Ticket "Add toilet neon lights" was created</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Random Dude - <span>13.10.2018</span>
                </div>
                <div class="card-body">
                    <p>Ticket was assigned to Random Dude</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Random Dude - <span>14.10.2018</span>
                </div>
                <div class="card-body">
                    <p>Freaking cool idea!</p>
                </div>
            </div>
        </div>
    </body>
</html>