<html>
<head>
    <meta charset="utf-8">
    <title>Запит #228 - Додати неонове освітлення до вбиралень</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href ="TicketPage.css" rel="stylesheet">
</head>
<body>
<nav class="orange navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Моя сторінка</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav mr-auto">
            <li class=" nav-item active ">
                <a class="nav-link" href="#">Додати заявку <span class="sr-only">(current)</span></a>
            </li>
            <li class=" nav-item active">
                <a class="nav-link" href="#">Мої заявки</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Пошук">
        </form>
    </div>
</nav>
<div class="container">
    <h2>#228 - Додати неонове освітлення до вбиралень</h2>
    <p>У туалетах Академії дуже сумно, особливо вночі, тому хотілося б зробити час, проведений у вбиральні трохи яскравішим</p>
    <ul>
        <li>Created: <a href="#">Lolkek Cheburek</a></li>
        <li>Assignee: <a href="#">Random Dude</a></li>
        <li>Стан: У роботі</li>
    </ul>
    <div class="card">
        <div class="card-header">
            <a href="#">Lolkek Cheburek</a> у <span>13.10.2018, 22:05</span>
        </div>
        <div class="card-body">
            <p>Створено запит "Додати неонове освітлення до вбиралень"</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="#">Random Dude</a> змінив запит у <span>13.10.2018, 23:55</span>
        </div>
        <div class="card-body">
            <p>Запит призначено Random Dude</p>
            <p>Стан запиту змінено на <i>"У роботі"</i></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <a href="#">Random Dude</a> прокоментував у <span>14.10.2018, 01:20</span>
        </div>
        <div class="card-body">
            <p>Неймовірна ідея!</p>
        </div>
    </div>
    <hr>
    <h4>Прокоментувати або змінити тікет</h4>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputStatus">Статус:</label>
                <select id="inputStatus" class="form-control">
                    <option>Не призначено</option>
                    <option selected>У роботі</option>
                    <option>Закрито</option>
                    <option>Відхилено</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAssignee">Відповідальний:</label>
                <select id="inputAssignee" class="form-control">
                    <option>Kek Mda</option>
                    <option selected>Random Dude</option>
                    <option>Test Person</option>
                    <option>Ton Vredniyded</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="commentArea">Коментар:</label>
            <textarea class="form-control" id="commentArea" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </form>
</div>
</body>
</html>