<html>
    <head>
        <title>Tickets Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href ="TicketPage.css" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="main container-fluid">
            <h2>Список тікетів</h2>
        <div class="table-responsive">
            <table class ="table table-striped table-sm">
                <thead >
<tr>
    <th>#</th>
    <th>Назва</th>
    <th>Тема</th>
    <th>Статус</th>
    <th>Дата створення</th>
</tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Neon Toilet</td>
                        <td>WC</td>
                        <td>In process</td>
                        <td>01.01.0001</td>
                    </tr>
                    <tr> <td>2</td>
                        <td>Golomozda Deacan</td>
                        <td>Deacan</td>
                        <td>Done</td>
                        <td>Today</td></tr>
                    <tr> <td>3</td>
                        <td>NT</td>
                        <td>Equipment</td>
                        <td>Sent</td>
                        <td>Yesterday</td></tr>
                    <tr> <td>4</td>
                        <td>Primaty bez filtra</td>
                        <td>Advertisement</td>
                        <td>Denied</td>
                        <td>15.09.2018</td></tr>
                </tbody>
            </table>
        </div>
        </div>
    </body>
</html>