<html>
    <head>
        <title>Tickets Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href ="styles.css" rel="stylesheet">
            <meta charset="utf-8">
            <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
            <nav class="orange navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">Моя сторінка</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
              
                    <div class="collapse navbar-collapse" id="navbarsExample05">
                      <ul class="navbar-nav mr-auto">
                        <li class=" nav-item active ">
                          <a class="nav-link" href="#">Додати заявку <span class="sr-only">(current)</span></a>
                        </li>
                        <li class=" nav-item active">
                          <a class="nav-link" href="#">Мої заявки</a>
                        </li>
                                </ul>
                      <form class="form-inline my-2 my-md-0">
                        <input class="form-control" type="text" placeholder="Пошук">
                      </form>
                    </div>
                  </nav>
        <div class="main container-fluid">
            <h2>Список запитів</h2>
        <div class="table-responsive">
            <table class ="table table-striped table-sm">
                <thead >
<tr lang="uk">
    <th>#</th>
    <th>Назва</th>
    
    <th>Статус</th>
    <th>Дата створення</th>
</tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Neon Toilet</td>
                        
                        <td>In process</td>
                        <td>01.01.0001</td>
                    </tr>
                    <tr> <td>2</td>
                        <td>Golomozda Deacan</td>
                        
                        <td>Done</td>
                        <td>Today</td></tr>
                    <tr> <td>3</td>
                        <td>NT</td>
                        
                        <td>Sent</td>
                        <td>Yesterday</td></tr>
                    <tr> <td>4</td>
                        <td>Primaty bez filtra</td>
                       
                        <td>Denied</td>
                        <td>15.09.2018</td></tr>
                </tbody>
            </table>
        </div>
        </div>
        
    </body>
</html>